.App {
  /* font-family: Arial; */
  text-align: center;
}

.App-header {
  /* background-color: #222; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: dodgerblue;
}

label.placeholder {
  position: relative;
  transition: top 0.1s, font-size 0.2s;
  color: #0169CE;
  top: 19px;
}

label.placeholder.mini {
  top: 0px;
  font-size: .8em;
}

input {
  border-radius: 0;
  font-size: 1em;
}

*:focus {
  outline: none;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.map {
  width: 600px;
  height: 400px;
}

track-container {
  flex-wrap: wrap;
}

.track {
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: whitesmoke;
  transition: all .3s ease-out;
}

.track:hover {
  background-color: dodgerblue;
}